<h1>Welcome to {{ hotelName }}</h1>

<!-- propertybinding -->
<div [hidden]="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms?.availableRooms ? 'green' : 'red' }"
    [innerText]="noOfRooms"
  ></div>
</div>

{{ rooms?.availableRooms ?? "No Rooms" }}



<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>
<div *ngIf="selectedRoom">
  {{selectedRoom|json}}
</div>
<!-- eventbinding -->
<button (click)="toggle()">Hide</button>
